.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container{
  width: 70%;
  margin: 0 auto;
  transform: translateY(10% );
}
.header{
  background-color: #424242;
  text-align: center;
  padding-bottom: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateY(10%);
  font-size: 14px;
  position: relative;
}
.header span{
  position: absolute;
  left: 395px;
  top: 9px;
  font-size: 1.5em;
  color: white;
}
.mentorName{
  background-color: #bebebe;
  margin-top: 10px;
  padding-bottom: 60px;
  position: relative;
}
.mentorName span {
  position: absolute;
  left: 15px;
  top: 21px;
}
/* form{
  margin-top: 10px;
} */
input{
  border-radius: 5px;
  padding-bottom: 11px;
  display: inline-block;
  vertical-align: top;
  padding: 9px;
}
/* .taskName{
  width: 40%;
  margin-right: 8px;
} */
/* .teamMember{
  width: 30%;
  margin-right: 8px;
  padding-bottom: 10px;
} */
/* #date{
  width: 16%;
  padding-bottom: 4px;
} */

/* .submit{
  width: 12%;
  background-color: #eb4662;
  font-size: 1em;
  padding-bottom: 5px;
  border: none;
  color: white;
} */
/* .lists{
  margin-top: 10px;
  display: block;
} */
.taskList{
  display: inline-block;
  width: 49%;
  margin-right: 2%
}
.member{
  text-align: center;
  text-transform: capitalize;
  padding: 6px;
  margin-bottom: 5px;
}
.review{
  display: inline-block;
  width: 49%;
}
/* .lists div{
  margin-top: 0;
  text-align: center;
  line-height: 39px;
  border-radius: 5px;
  background-color:#eb4662;
  padding-top: 5px;
  padding-bottom: 5px;
} */
/* .assignedTasks{
  background-color: #006666;
  margin-top: 10px;
  border-radius: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  color: white;
  box-sizing: border-box;
  text-transform: capitalize;
} */
.due-date {
  float: right;
  font-size: 10px;
  color: #999;
}
.due_date {
  float: right;
  font-size: 10px;
  color: #999;
  margin-top: 6px;
  margin-right: 16px;
}
.assignedTasks > div {
  line-height: 28px;
  height: auto;
}
.assignedTasks span{
  padding: 0 13px;
}
.menteeTasks{
  margin-top: 10px;
}
#menteeTasks{
  display: inline-block;
  background-color: #006666;
  width: 85%;
  border-radius: 5px;
  font-size: 15px;
  color: white; 
  text-align: center;
}
.menteeTasks input{
  padding: 0;
  display: inline-block;
  margin-left: 8px;
  width: 14%;
}
/* .allTasks{
  display: inline-block;
  width: 49%;
  margin-right: 1%;
} */
.submittedTasks{
  display: inline-block;
  width: 49%;
  margin-left: 1%;
  vertical-align: top;
}
/* .buttons{
  margin-left: 198px;
} */
.complete{
  background-color: green;
  margin-left: 8px;
}

