.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.topContainer {
  
}


.container{
  width: 70%;
  margin: 0 auto;
  /* transform: translateY(10% ); */
}
.header{
  background-color: #424242;
  text-align: center;
  padding-bottom: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateY(10%);
  font-size: 16px;
  /* position: relative; */
}
.header span{
  /* position: absolute; */
  left: 395px;
  top: 9px;
  font-size: 1.5em;
  color: white;
}
.mentorName{
  display:flex;
  background-color: #bebebe;
  margin-top: 10px;
  padding-bottom: 60px;
  padding-left:5px;
  
}

.mentee-name,.mentor-name {
  left: 15px;
  top: 21px;
  width: 75%;
} 



.logout-button{
  width:20%;
  background-color: #20B2AA; 
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;

  cursor: pointer;
  border-radius: 7px;
  margin-left: 12px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: white;
  padding: 10px 7px;
  border: none;
}
input{
  border-radius: 5px;
  padding-bottom: 11px;
  display: inline-block;
  vertical-align: top;
  padding: 9px;
}
.taskList{
  display: inline-block;
  width: 49%;
  margin-right: 2%
}
.member{
  text-align: center;
  text-transform: capitalize;
  padding: 6px;
  margin-bottom: 5px;
}
.review{
  display: inline-block;
  width: 49%;
}
.assignedTasks > div {
  line-height: 28px;
  height: auto;
}
.assignedTasks span{
  padding: 0 13px;
}
.menteeTasks{
  margin-top: 10px;
}
#menteeTasks{
  display: inline-block;
  background-color: #006666;
  width: 85%;
  border-radius: 5px;
  font-size: 15px;
  color: white; 
  text-align: center;
}
.menteeTasks input{
  padding: 0;
  display: inline-block;
  margin-left: 8px;
  width: 14%;
}
.submittedTasks{
  display: inline-block;
  width: 49%;
  margin-left: 1%;
  vertical-align: top;
}

