.mentorNameLabel {
    font-weight: 100;
    color: white;
    margin-top: 10px;
    padding-left:10px;
}

.mentorName{
    white-space: nowrap;
    color: white;
    margin-top: 10px;
    padding-left:5px;
    font-weight: 500;
  }

.placeholder {

    width: 35%;
    margin-right:16px;
    display: flex;
    justify-content: flex-end;
}

.logout-button{
    width:100%;
    width:65px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 4px 0px;
  
    cursor: pointer;
    border-radius: 3px;
    margin-left: 0px;
    color: white;
    padding: 10px 7px;
    border: none;
  }

.mentorBody {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background: #BA68C8;
    background: white;
    background: #519839;
    height: 88%;
  }

.assignForm {
    width: 98%;
    height: 40px;
    margin-top: 17px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    /* padding: 0px 10px 5px 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.taskName {
    /* border: 1px solid #bebebe; */
    text-decoration: none;
    width: 47%;
    margin-right: 8px;
    height: 14px;
    font-size: 14px;
}

.date {
    /* border: 1px solid #bebebe; */
    margin-left:5px;
    padding: 6px 9px;
    height:20px;
    width: 17%;
    font-size: 14px;
    color: grey;
    /* border */
}

.teamMember {
    /* border: 1px solid black; */
    width: 17%;
    margin-left:13px;
    padding-right: 6px;
    font-size: 14px;
    border-radius: none;
}

.assignTask {
    width: 11%;
    height: 34px;
    /* background-color: #eb4662; */
    font-size: 12px;
    border: none;
    color: white;
    margin-top:1px;

    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    /* margin: 4px 2px; */
    cursor: pointer;

    background-color: white; 
    color: black; 
    /* border: 2px solid gray; */
}

.listsSectionContainer {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    /* max-height: 100%; */
    height: 100%;
    overflow-y: scroll;
    /* overflow-x: none; */
}

.listsSection {
    width: 97%;
    margin-right: auto;
    margin-left: auto;

}

.listHeadings {
    margin-top: 10px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listHeading {
    margin-top: 0;
    text-align: center;
    /* line-height: 39px; */
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
    font-size: 17px;
    font-weight: 100;
    /* color:#eb4662; */
    /* border: 1px solid #eb4662; */
    /* border: 1px solid #bebebe; */
    display: inline-block;
    width: 49%;
    color: white;

    
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}