.menteeListHeadings {
    margin-top: 10px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menteeListHeading {
    background: #eb4662;
    margin-top: 0;
    text-align: center;
    line-height: 39px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* color:#eb4662; */
    /* border: 1px solid #eb4662; */
    /* border: 1px solid #bebebe; */
    display: inline-block;
    width: 100%;
    color: white;
}

  .menteeTasksContainer {
    /* background: #bebebe; */
    border: 1px solid #424242;
    /* border: 1px solid #bebebe; */
        /* border: 1px solid #eb4662; */
  
    border-radius: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    /* color: white; */
    /* color: #bebebe; */
    color: #bebebe;
    box-sizing: border-box;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .menteeTaskContainer {
  border: 1px solid #424242;
    /* border: 1px solid #bebebe; */
        /* border: 1px solid #eb4662; */
    /* background: white; */
    border-radius: 5px;
    padding: 15px 10px;
    margin: 4px 4px 3px 4px;
    /* margin-top: 0px; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
  }
  
  .menteeTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menteeTaskName {
      color: gray;
  }

.dueDateContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dueDate {
    /* color: gray;
    width: 100px; */
    font-size: 10px;
    margin-top: 0px;
    margin-right:0px;
    color: gray;
}

.submitForReview {
    width: 125px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;

    background-color: white; 
    color: black; 
    /* border: 2px solid #eb4662; */
    border: 2px solid gray;
}