.menteeListHeadings {
    margin-top: 10px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menteeListHeading {
    background: #eb4662;
    margin-top: 0;
    text-align: center;
    line-height: 39px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* color:#eb4662; */
    /* border: 1px solid #eb4662; */
    /* border: 1px solid #bebebe; */
    display: inline-block;
    width: 100%;
    color: white;
}

  .menteeTasksContainer {
    /* background: #bebebe; */
    border: 1px solid #424242;
    /* border: 1px solid #bebebe; */
        /* border: 1px solid #eb4662; */
  
    border-radius: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    /* color: white; */
    /* color: #bebebe; */
    color: #bebebe;
    box-sizing: border-box;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .menteeTaskContainer {
  border: 1px solid #424242;
    /* border: 1px solid #bebebe; */
        /* border: 1px solid #eb4662; */
    /* background: white; */
    border-radius: 5px;
    padding: 15px 10px;
    margin: 4px 4px 3px 4px;
    /* margin-top: 0px; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
  }
  
  /* .menteeTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

  .menteeTaskName {
      color: gray;
      text-transform: capitalize;
      color: #444;
  }

.taskNameContainer.mentee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;

}

.assignedBy {
    margin-top: 0px;
    color: #8c8c8c;
    font-size: 12px;
}

.dueDateContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.button.submitForReview {
    width: 115px;
    background-color: #61bd4f; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    /* background-color: white;  */
    color: white; 
    /* border: 2px solid #eb4662; */
    /* border: 2px solid gray; */
}